/* Write your CSS here */
.movies-container {
  width: 90%;
  margin: auto;
  margin-bottom: 32px;
}
.image {
  width: 100%;
}
.app-container {
  background-color: #000000;
  padding-bottom: 32px;
  min-height: 100vh;
}
.head {
  color: #ffffff;
}
